@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #e6f5f1;
  --foreground: #354a3f;
  --card: #f5fffc;
  --card-foreground: #354a3f;
  --popover: #f5fffc;
  --popover-foreground: #354a3f;
  --primary: #52a67c;
  --primary-foreground: #ffffff;
  --secondary: #c3e2d8;
  --secondary-foreground: #3f5c4d;
  --muted: #d8ece5;
  --muted-foreground: #567d6b;
  --accent: #aad4c8;
  --accent-foreground: #354a3f;
  --destructive: #35b54a;
  --destructive-foreground: #ffffff;
  --border: #badbd0;
  --input: #badbd0;
  --ring: #52a67c;
  --chart-1: #52a67c;
  --chart-2: #4c8d6e;
  --chart-3: #3a735a;
  --chart-4: #6fb390;
  --chart-5: #80c0a0;
  --sidebar: white;
  --sidebar-foreground: #354a3f;
  --sidebar-primary: #52a67c;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #aad4c8;
  --sidebar-accent-foreground: #354a3f;
  --sidebar-border: #badbd0;
  --sidebar-ring: #52a67c;
  --font-sans: Oxanium, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0rem;
  --shadow-2xs: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.06);
  --shadow-sm: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 1px 2px -1px hsl(150 13.73% 20% / 0.12);
  --shadow: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 1px 2px -1px hsl(150 13.73% 20% / 0.12);
  --shadow-md: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 2px 4px -1px hsl(150 13.73% 20% / 0.12);
  --shadow-lg: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 4px 6px -1px hsl(150 13.73% 20% / 0.12);
  --shadow-xl: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 8px 10px -1px hsl(150 13.73% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.3);
}

.dark {
  --background: #212d26;
  --foreground: #d8ece5;
  --card: #2c3a32;
  --card-foreground: #d8ece5;
  --popover: #2c3a32;
  --popover-foreground: #d8ece5;
  --primary: #80c0a0;
  --primary-foreground: #212d26;
  --secondary: #394a40;
  --secondary-foreground: #d8ece5;
  --muted: #2c3a32;
  --muted-foreground: #acc5bc;
  --accent: #3e5949;
  --accent-foreground: #d8ece5;
  --destructive: #35b54a;
  --destructive-foreground: #ffffff;
  --border: #394a40;
  --input: #394a40;
  --ring: #80c0a0;
  --chart-1: #80c0a0;
  --chart-2: #6fb390;
  --chart-3: #52a67c;
  --chart-4: #4c8d6e;
  --chart-5: #3a735a;
  --sidebar: #212d26;
  --sidebar-foreground: #d8ece5;
  --sidebar-primary: #80c0a0;
  --sidebar-primary-foreground: #212d26;
  --sidebar-accent: #3e5949;
  --sidebar-accent-foreground: #d8ece5;
  --sidebar-border: #394a40;
  --sidebar-ring: #80c0a0;
  --font-sans: Oxanium, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.25rem;
  --shadow-2xs: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.06);
  --shadow-sm: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 1px 2px -1px hsl(150 13.73% 20% / 0.12);
  --shadow: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 1px 2px -1px hsl(150 13.73% 20% / 0.12);
  --shadow-md: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 2px 4px -1px hsl(150 13.73% 20% / 0.12);
  --shadow-lg: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 4px 6px -1px hsl(150 13.73% 20% / 0.12);
  --shadow-xl: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.12),
    2px 8px 10px -1px hsl(150 13.73% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(150 13.73% 20% / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

button{
  @apply cursor-pointer;
}

.green-button {
  @apply bg-[#268A63] hover:bg-[#268a64e3] disabled:text-muted disabled:bg-accent-foreground cursor-pointer flex items-center;
}

.green-button-outline {
  @apply border-[#268A63] text-[#268A63] hover:text-[#268A63] cursor-pointer flex items-center;
}

.checkbox {
  @apply !bg-[#b2d2c68a] data-[state=checked]:!bg-[#268A63] border-none;
}

.action-edit-btn {
  @apply px-2 py-2  font-medium transition-all duration-200 ease-in-out
         text-gray-700 hover:text-gray-900 
         bg-emerald-50 hover:bg-emerald-100 
         border border-emerald-100 hover:border-emerald-200
         shadow-sm hover:shadow-md
         focus:outline-none focus:ring-2 focus:ring-emerald-500 
         flex items-center space-x-2 cursor-pointer;
}

.action-delete-btn {
  @apply px-2 py-2  font-medium transition-all duration-200 ease-in-out
         text-red-600 hover:text-red-700 
         bg-red-50 hover:bg-red-100 
         border border-red-100 hover:border-red-200
         shadow-sm hover:shadow-md
         focus:outline-none focus:ring-2 focus:ring-red-500 
         flex items-center space-x-2 cursor-pointer;
}

.action-view-btn {
  @apply px-4 py-2  font-medium transition-all duration-200 ease-in-out
         text-blue-600 hover:text-blue-800 
         bg-blue-50 hover:bg-blue-100 
         border border-blue-100 hover:border-blue-200
         shadow-sm hover:shadow-md
         focus:outline-none focus:ring-2 focus:ring-blue-500 
         flex items-center space-x-2 cursor-pointer;
}

/* Loader */
.loader {
  --c1:#0D4E34;
  --c2:#268A63;
  width: 25px;
  height: 50px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: 
    linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}